
.App {
  margin-top: 50px;
  text-align: center;
  background-image: url(https://tse1.mm.bing.net/th?id=OIF.NbXtsc%2b68H8UqkHx1yj9jQ&pid=Api&P=0&w=167&h=117);
  
}
.main-body{
  margin-top: 10px;
 
  
}
.heading{
  margin-top: 150px;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Actor-name{
  color: white;
}
.show-name{
  margin-left: 100px;
  color: white;
}
.show-name-logo{
  color: white;
}
.serch-btn{
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  height: 25px;
  width: 55px;

}
.input-search{
  width: 20%;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
}
.add-here{
  margin-left: 5%;
  margin-top: 50px;
  color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
